1e3_0.2_SSB.Rda
1e3_0.2_DR.Rda
1e3_0.2_biomass.Rda
1e3_0.2_yield.Rda
1e3_0.4_SSB.Rda
1e3_0.4_DR.Rda
1e3_0.4_biomass.Rda
1e3_0.4_yield.Rda
1e3_0.6_SSB.Rda
1e3_0.6_DR.Rda
1e3_0.6_biomass.Rda
1e3_0.6_yield.Rda
1e3_0.8_SSB.Rda
1e3_0.8_DR.Rda
1e3_0.8_biomass.Rda
1e3_0.8_yield.Rda
1e3_1_SSB.Rda
1e3_1_DR.Rda
1e3_1_biomass.Rda
1e3_1_yield.Rda
