3A_DR.Rda
3A_N.Rda
3A_SSB.Rda
3A_abundance.Rda
3A_biomass.Rda
3A_effort.Rda
3A_yield.Rda

5A_DR.Rda
5A_N.Rda
5A_SSB.Rda
5A_abundance.Rda
5A_biomass.Rda
5A_effort.Rda
5A_yield.Rda

7A_DR.Rda
7A_N.Rda
7A_SSB.Rda
7A_abundance.Rda
7A_biomass.Rda
7A_effort.Rda
7A_yield.Rda

9A_DR.Rda
9A_N.Rda
9A_SSB.Rda
9A_abundance.Rda
9A_biomass.Rda
9A_effort.Rda
9A_yield.Rda

11A_DR.Rda
11A_N.Rda
11A_SSB.Rda
11A_abundance.Rda
11A_biomass.Rda
11A_effort.Rda
11A_yield.Rda

13A_DR.Rda
13A_N.Rda
13A_SSB.Rda
13A_abundance.Rda
13A_biomass.Rda
13A_effort.Rda
13A_yield.Rda

15A_DR.Rda
15A_N.Rda
15A_SSB.Rda
15A_abundance.Rda
15A_biomass.Rda
15A_effort.Rda
15A_yield.Rda

21A_DR.Rda
21A_N.Rda
21A_SSB.Rda
21A_abundance.Rda
21A_biomass.Rda
21A_effort.Rda
21A_yield.Rda
